* {
    
    border-style: solid;
    border-color:red;
    border-width: 1px;
}

a:link{
    text-decoration: none;
}

h1{
    font: size 20svh;;
    color:white;
    font-style:bold;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

body{
    width: 100%;
    height: 100%;
}

.banner{
    position: relative;
    text-align: center;
    border-color: blue;
    height:15rem;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top:1rem;
    right:1.25rem;
    width: 40%;
}

.links{
    font-size: 1.4rem;
    color: white;
    font-style:bold;
}

.Tech{
    background-color: gray;
    border-color: black;
    border-width: 3px;
    width: 90%;
    height: 60%;
    justify-self: center;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    gap:10rem;
}

.Tech-Description{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 10px;
}

#banner-img{
    height:100%;
    width: 100%;
    object-fit:cover;
}

#who-I-Am{
    display:flex;
    flex-direction: row;
    gap:1em;
    align-items: center;
    width: 90%;
    padding: 2%;
}

#personal-focus{
    display:flex;
    flex-direction: row-reverse;
    gap:1em;
    align-items: center;
    width: 90%;
    padding: 2%;
}

#Tech-I-Know{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
