* {
    font-size: 16px;
    border-style: solid;
    border-color:red;
    border-width: 2px;
}

h1{
    font-size:4rem;
    color:white;
    font-style:bold;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.header{
    display: flex;
    flex-direction: column;
    max-height: 20rem;
}

.banner{
    max-height: 18rem;
    position: relative;
    text-align: center;
}

.nav{
    justify-content: space-evenly;
}

#banner-img{
    height:100%;
    width: 100%;
    object-fit:fill;
}

#who-I-Am{
    display:flex;
    flex-direction: row;
    gap:2em;
    align-items: center;
}

#personal-focus{
    display:flex;
    flex-direction: row-reverse;
    gap:2em;
    align-items: center;
}